@font-face {
    font-family: 'Marianne';
    src: url('./assets/fonts/Marianne-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne';
    src: url('./assets/fonts/Marianne-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne';
    src: url('./assets/fonts/Marianne-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Marianne';
    src: url('./assets/fonts/Marianne-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

body {
    font-family: 'Marianne', sans-serif;
}
